.input-field-large{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    width: 100%;
}

input{
    border-radius: 5px;
}

.form-title{
    font-size: 12px;
}
.input-group{
    display: flex;
    width: 100%;
    margin-bottom:10px;
}

.input-field-cvc{
    width: 50%;

    display: flex;
    flex-direction: column;
}
.input-field-date{
    display: flex;
    flex-direction: column;
    width:50%;
}

.expiration-date-div{
    display: flex;
    flex-direction: row;
}

input{
    padding: 7px;
    margin:3px;
    font-size: 17px;
    min-width: none;
}

#card-expiration-month{
    width: 50%;
}

#card-expiration-year{
    width:50%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: hsl(278, 68%, 11%);
    color:white;
    width: 100%;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
}

.invalid-text{
    color: hsl(0, 100%, 66%);
    font-size: 12px;
    visibility: hidden;
}
.invalid-text.visible{
    visibility: visible;
}

.invalid-input{
    border: 2px solid hsl(0, 100%, 66%);
}
.invalid-input:focus {
    border: 2px solid red;
    outline: none;
  }