<form ngForm (submit)="onFormSubmit()">
    <div class="input-field-large">
        <label class="form-title">CARDHOLDER NAME</label>
        <input [class]="{ 'invalid-input':!validName}"  type="text" id="name" name="name" [(ngModel)]="this.name" placeholder="e.g Jane Appleseed" (ngModelChange)="validateName()">

        <div class="invalid-text" [class.visible]="!validName">
            Please enter a valid name
        </div>
    </div>

    <div class="input-field-large">
        <label class="form-title">CARD NUMBER</label>
        <input [class]="{ 'invalid-input':!validCardNumber}" type="text" id="card-number" name="card-number" [(ngModel)]="displayNumber" placeholder="e.g 1234 5678 9123 0000" (ngModelChange)="validateCardNumber()" maxlength="19">
        <div class="invalid-text" [class.visible]="!validCardNumber">
            Wrong format, numbers only
        </div>
    </div>

    <div class="input-group">
        <div class="input-field-date">
            <label class="form-title">EXP. DATE (MM/YY)</label>
            <div class="expiration-date-div">
                <input [class]="{ 'invalid-input':!validExpirationMonth}" type="text" id="card-expiration-month" name="card-expiration-month" [(ngModel)]="expirationMonth" placeholder="MM" (ngModelChange)="validateExpirationMonth()" maxlength="2">
                <input [class]="{ 'invalid-input':!validExpirationYear}" type="text" id="card-expiration-year" name="card-expiration-year" [(ngModel)]="expirationYear" placeholder="YY" (ngModelChange)="validateExpirationYear()" maxlength="2">
            </div>
            <div class="invalid-text" [class.visible]="!validExpirationYear || !validExpirationMonth">
                Can't be blank
            </div>
        </div>

        <div class="input-field-cvc">
            <label class="form-title">CVC</label>
            <input [class]="{ 'invalid-input':!validCVC}" type="text" inputmode="numeric" id="card-cvc" name="card-cvc" [(ngModel)]="cvc" placeholder="e.g 123" (ngModelChange)="validateCVC()" maxlength="3">
            <div class="invalid-text" [class.visible]="!validCVC">
                Can't be blank
            </div>
        </div>


    </div>

    

    <button>Confirm</button>
</form>