<form ngForm (submit)="onFormSubmit()">
    <div class="input-field-large">
        <label class="form-title">CARDHOLDER NAME</label>
        <input type="text" id="name" name="name" [(ngModel)]="this.name" placeholder="e.g Jane Appleseed" (ngModelChange)="validateName()">

        @if(!this.validName){
            <div class="invalid-text">
                Please enter a valid name
            </div>
        }
    </div>

    <div class="input-field-large">
        <label class="form-title">CARD NUMBER</label>
        <input type="text" id="card-number" name="card-number" [(ngModel)]="this.displayNumber" placeholder="e.g 1234 5678 9123 0000" (ngModelChange)="validateCardNumber()">
        @if(!this.validCardNumber){
            <div class="invalid-text">
                Wrong format, numbers only
            </div>
        }
    </div>

    <div class="input-group">
        <div class="input-field-date">
            <label class="form-title">EXP. DATE (MM/YY)</label>
            <div class="expiration-date-div">
                <input type="number" id="card-expiration-month" name="card-expiration-month" [(ngModel)]="this.expirationMonth" placeholder="MM" (ngModelChange)="validateExpirationMonth()">
                <input type="number" id="card-expiration-year" name="card-expiration-year" [(ngModel)]="this.expirationYear" placeholder="YY" (ngModelChange)="validateExpirationYear()">
            </div>
            @if(!this.validExpirationMonth || !this.validExpirationYear){
                <div class="invalid-text">
                    Can't be blank
                </div>
            }
        </div>

        <div class="input-field-cvc">
            <label class="form-title">CVC</label>
            <input type="number" id="card-cvc" name="card-cvc" [(ngModel)]="this.cvc" placeholder="e.g 123" (ngModelChange)="validateCVC()">
            @if(!this.validCVC){
                <div class="invalid-text">
                    Can't be blank
                </div>
            }
        </div>


    </div>

    

    <button>Confirm</button>
</form>